/*****/
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul {
    padding: 0;
}
ul>li {
    list-style: none;
}
/*****/

body {
    background: url('./assets/bkg.jpeg');
    background-size: cover;
    background-color: #5b96c8;
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    visibility: hidden
}

h3 {
    color: #727272;
}

img.logo {
    border-radius: 50%;
    display: flex;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-bottom: 3rem;
}

main {
    flex-direction: column;
    margin: 0 20%;
    margin-top: 2rem;
    margin-top: 5vh;
    min-height: 30rem;
    min-height: 66vh;
    display: flex;
    border-radius: 3px;
}

article {
    margin-bottom: 3rem;
    background: white;
    padding: 2.3rem 3.5rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hosts h2 {
    text-align: center;
}

.hosts-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.host img {
    border-radius: 50%;
}


.episode-container {
    display: flex;
    justify-content: space-between;
}

.listen-options {
    text-transform: capitalize;
}

@media screen and (max-width: 640px) {
    body {
        background-size: auto;
    }

    main {
        margin: 0 5%;
    }

    article {
        padding: 2.3rem 1rem;
    }

}

@media (min-width: 641px) and (max-width: 1050px) {
    body {
        background-size: auto;
    }

    main {
        margin: 0 10%;
    }
}
