<h1>Devcast</h1>
<img class="logo" src="./assets/devcast.jpeg" alt="Devcast">

<main>
    <article class="hosts">
        <h2>Anfitriones</h2>
        <div class="hosts-list-container">
            <ul class="hosts-list">
                <li>
                    <a class="host" href="https://twitter.com/Daniel_Santello" rel="noopener noreferrer">
                        <img src="./assets/daniel.jpeg" alt="Daniel Sanchez">
                        <h3 class="host-name">Daniel Sanchez</h3>
                    </a>
                </li>
                <li>
                    <a class="host" href="https://diegocoy.com" rel="noopener noreferrer">
                        <img src="./assets/diego.jpeg" alt="Diego Coy">
                        <h3 class="host-name">Diego Coy</h3>
                    </a>
                </li>
            </ul>
        </div>
    </article>

    {{#if episodes}}
    <section class="episodes">
        <h2>Capítulos</h2>
        <ul>
            {{#each episodes as |episode episodeKey|}}
            <li>
                <article class="episode-container">
                    <div class="meta-container">
                        <h3>
                            <span>{{episode.release_id}}: </span>
                            <span>{{episode.name}}</span>
                        </h3>
                    </div>
                    <div class="listen-options">
                        {{#if episode.urls}} {{#each episode.urls as |url urlKey|}}
                        <ul>
                            <li>
                                <a href="{{url.url}}">{{url.label}}</a>
                            </li>
                        </ul>
                        {{/each}} {{/if}}
                    </div>
                </article>
            </li>
            {{/each}}
        </ul>

    </section>
    {{/if}}

</main>